body {
    background-color: rgb(199, 239, 252);
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;

}
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(68, 143, 255);
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

section {
    margin: 10px;
    padding: 10px;
}

footer {
    background-color: rgb(68, 143, 255);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
h1 {
    color: white;
}
h2 {
    color: aliceblue;
    background: #2dacc9;
    border-radius: 7px;
    padding: 10px 20px;
    margin: 30px;
    display: inline;
}
p {
    color: rgb(83, 94, 105);
    margin: 30px;
    padding: 20px;
}
ul {
    margin: 30px;
    color: rgb(83, 94, 105);
}
img{
    float: left;
    width: 25%;
    margin: 20px;
    border-radius: 7px;
}
a{
    text-decoration: none;
    color: blue;
}
.contact {
    color: white;
    margin: 5px;
    padding: 0;
}